<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Solver Bot</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Solver Bot</h1>

    <div id="board-container">
        </div>

    <div id="controls">
        <button id="submit-hints" class="action-btn">Send Hints</button>
        <button id="restart-btn" class="action-btn">Restart Game</button>
    </div>

    <div id="modal-overlay" class="hidden">
        <div class="modal-content">
            <h2 id="modal-title">TITLE</h2>
            <p id="modal-msg">Message goes here</p>
            <button onclick="closeModal()">Close</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>